{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="col-lg-3">
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" id="expression">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="generate">Generate tree</button>
                   </span>
                </div>
                <img src="../static/images/" class="img-thumbnail" alt="Responsive image" id="graph-image">
            </div>
        </div>
    </div>
</div>
{% endblock %}