<h4>Identification: {{identification}}</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            {% for item in table[0] %}
                <th class="text-center" scope="col">{{item}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table[1:] %}
            <tr>
                {% for item in row %}
                    <td class="text-center">{{item}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
